
/* .section .home_text h2{
color: black;
position: relative;
} */



main .home_section{


display: block;
margin-left: auto;
margin-right: auto; 
/* height: 100vh; */
min-width: 400px;
} 

/* .home_text_element2{
  height: 0vh;
} */

#span{
  --text-opacity: 1;
    color: #68d391;
    color: rgba(104,211,145,var(--text-opacity));
}



main .home_link2:hover{
  background-color: rgb(0 26 68 / 5%);
  color: #68d391;
/*   -webkit-text-stroke: 1px #68d391;; */
border: 2px solid #68d391;
  
  }
main .home_link3:hover{
  background-color: rgb(0 26 68 / 5%);
  color: #68d391;
  border: 2px solid #68d391;
  }




@media screen and (max-width: 500px) {

  main .home_link1{
    color: white;
    /* left: 20%;  */

    text-align: -webkit-center;
    top: 6rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) skew(-15deg);
    position: absolute;

   /*  background-image: linear-gradient(#9d9d9d33 25%, #919191b3 35%, #e5ddc7 50%, #967200 50%, #ffc200 55%, #3f300000 75%); */

/*    background-color: #2d3748; */

/*     -webkit-background-clip: text; */
/*     -webkit-text-fill-color: transparent; */

    font-family: 'Exo';
    font-size: 1rem;

    letter-spacing: 0.03em;
/*     margin: 0px; */

    color: white;






/*     background-color: rgb(6 6 6 / 58%); */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    padding: 14px 28px;


  }

  main .home_link2{
    font-family: 'Exo';
    font-size: 1rem;
    transform: skew(-15deg);
    letter-spacing: 0.03em;

    


    text-align: -webkit-center;
    top: 16rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    position: absolute;
    




/*     background-color: #68d391; */
    background-color: #68d391;
    border-radius: .375rem;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    color: rgb(0 26 68 / 87%);
    padding: 14px 28px;
/*     box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%); */

    cursor: pointer;
/*     display: inline-block; */


  }

  .home_link_2text {
    font-family: 'Exo';

    letter-spacing: 0.03em;

    position: absolute;

    text-align: -webkit-center;
    top: 20rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) skew(-15deg);

    font-size: 1rem;

    color: white;

    padding: 7px 14px;



  }

  .home_link_2text2 {
    font-family: 'Exo';

    letter-spacing: 0.03em;

    position: absolute;

    text-align: -webkit-center;
    top: 23rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) skew(-15deg);

    font-size: .5rem;

    color: white;
    font-size: 1rem;
    padding: 7px 14px;
  }

  .home_link_2text3 {
    font-family: 'Exo';

    letter-spacing: 0.03em;

    position: absolute;

    text-align: -webkit-center;
    top: 26rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) skew(-15deg);

    font-size: .5rem;

    color: white;
    font-size: 1rem;
    padding: 7px 14px;
  }

  
  main .home_link3{
    font-family: 'Exo';


    letter-spacing: 0.03em;

/*     top: 10rem; */

    text-align: -webkit-center;
    top: 33rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;





    background-color: #68d391;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    color: rgb(0 26 68 / 87%);
    padding: 14px 28px;
    font-size: 1rem;
    cursor: pointer;

  }




}


@media screen and (min-width: 501px)  {

  
  main .home_link1{
    color: white;
    /* left: 20%;  */

    text-align: -webkit-center;
    top: 6rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) skew(-15deg);
    position: absolute;

   /*  background-image: linear-gradient(#9d9d9d33 25%, #919191b3 35%, #e5ddc7 50%, #967200 50%, #ffc200 55%, #3f300000 75%); */

/*    background-color: #2d3748; */

/*     -webkit-background-clip: text; */
/*     -webkit-text-fill-color: transparent; */

    font-family: 'Exo';
    font-size: 1.5rem;

    letter-spacing: 0.03em;
/*     margin: 0px; */

    color: white;






/*     background-color: rgb(6 6 6 / 58%); */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    padding: 14px 28px;


  }

  main .home_link2{
    font-family: 'Exo';
    font-size: 1rem;
    transform: skew(-15deg);
    letter-spacing: 0.03em;

    


    text-align: -webkit-center;
    top: 16rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    position: absolute;
    




/*     background-color: #68d391; */
    background-color: #68d391;
    border-radius: .375rem;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    color: rgb(0 26 68 / 87%);
    padding: 14px 28px;
/*     box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%); */

    cursor: pointer;
/*     display: inline-block; */


  }

  .home_link_2text {
    font-family: 'Exo';

    letter-spacing: 0.03em;

    position: absolute;

    text-align: -webkit-center;
    top: 20rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) skew(-15deg);

    font-size: 1rem;

    color: white;

    padding: 7px 14px;



  }

  .home_link_2text2 {
    font-family: 'Exo';

    letter-spacing: 0.03em;

    position: absolute;

    text-align: -webkit-center;
    top: 23rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) skew(-15deg);

    font-size: .5rem;

    color: white;
    font-size: 1rem;
    padding: 7px 14px;
  }

  .home_link_2text3 {
    font-family: 'Exo';

    letter-spacing: 0.03em;

    position: absolute;

    text-align: -webkit-center;
    top: 26rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) skew(-15deg);

    font-size: .5rem;

    color: white;
    font-size: 1rem;
    padding: 7px 14px;
  }

  
  main .home_link3{
    font-family: 'Exo';


    letter-spacing: 0.03em;

/*     top: 10rem; */

    text-align: -webkit-center;
    top: 33rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;





    background-color: #68d391;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    color: rgb(0 26 68 / 87%);
    padding: 14px 28px;
    font-size: 1rem;
    cursor: pointer;

  }




}


/* 
@media screen and (min-width: 680px)  {

  main .home_link1{
    font-family: 'Exo';
    font-size: 2rem;
    transform: skew(-15deg);
    letter-spacing: 0.03em;
    margin: 0px;
    display: block;
    color: white;
    left: 25%;
    top: 20%;
    text-align: -webkit-center;

    color: white;


    position: absolute;

    background-color: rgb(6 6 6 / 58%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: white;
    padding: 14px 28px;

    cursor: pointer;
    display: inline-block;
    background-image: linear-gradient(#9d9d9d33 25%, #919191b3 35%, #e5ddc7 50%, #967200 50%, #ffc200 55%, #3f300000 75%);
    
  }

  main .home_link2{
      font-family: 'Exo';
      font-size: 1.5rem;
      transform: skew(-15deg);
      letter-spacing: 0.03em;
      margin: 0px;
      display: block;
      color: white;
      left: 35%;
      top: 55%;

      position: absolute;

      background-color: rgb(6 6 6 / 58%);
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      color: white;
      padding: 14px 28px;

      cursor: pointer;
      display: inline-block;

    }
    main .home_link3{
      font-family: 'Exo';
      font-size: 1.5rem;
      transform: skew(-15deg);
      letter-spacing: 0.03em;
      margin: 0px;
      display: block;
      color: white;
      left: 35%;

      top: 75%;
      position: absolute;

      background-color: rgb(6 6 6 / 58%);
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      color: white;
      padding: 14px 28px;

      cursor: pointer;
      display: inline-block;

    }
  }



 */


/* @media screen and (max-width: 400px) {

  main .home_section{
    font-family: 'Exo';
    font-size: 10px;
    transform: skew(-15deg);
    letter-spacing: 0.03em;
    margin: 0px;
    display: block;
    color: white;
    left: 50%;
    top: 10rem;
    position: absolute;
  }
} */





/* .header {
  background-color: #10100f;
  padding: 16px;
}

.header__title {
  color: #fafafa;
  font-family: "Nanum Pen Script";
  font-family: "Roboto", sans-serif;
  font-size: 112px;
  text-align: center;
  line-height: 1.2;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.belly {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.belly__item {
  width: calc(50% - 64px);
  margin: 16px;
  padding: 40px 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.belly__item {
  background: #070707;
}

.belly__item:nth-of-type(3n + 1),
.belly__item:nth-of-type(4n + 1) {
  background: #070707;
}

.belly__item__img {
  width: 152px;
  height: auto;
}

.belly__item__text {
  color: #fafafa;
  margin: 0 4px;
}

.belly__item__tile {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
   animation: pulse 3s ease-out; 
  animation: "pulse" 1s infinite linear; 
  opacity: 0.5;
}

.belly__item__subtitle {
  font-family: "Nanum Pen Script";
  font-weight: 100;
  font-size: 24px;
  margin: 8px 0;
}

.belly__item__p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

@media screen and (max-width: 750px) {
  .header__nav__linkCont {
    display: none;
  }
  .header__nav__logo {
    opacity: 1;
  }
  .belly {
    flex-direction: column;
  }
  .belly__item {
    width: calc(100% - 64px);
  }
  .belly__item:nth-of-type(odd) {
    background:  #070707;
  }
  .belly__item:nth-of-type(even) {
    background: #0b0b0b;
  }
}
@media screen and (max-width: 450px) {
  .belly__item {
    flex-direction: column;
  }
  .belly__item__img {
    width: 200px;
    margin: 0 0 32px;
  }
} */
