
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');



/* .NavMain{
  background-color:black;
  position: relative;
  display: flex;
} */

.NavMain{
/*   background-size: cover; */
/* background-size: cover;
width: 100vw;
height: auto;
display: flex;
max-height: 200px; */
color: white;
/* height: calc(100vh);  */
padding: -10px;
margin: -10px;
border: -10px;

}


.NavMain .header{

  position: absolute;


  font-family: 'Bangers', bold;
  color: white;
  transform: translate(-50%, -50%);
/*   font-size: 40px; */
  text-align: center;
}

@media screen and (max-width: 600px) {
  .NavMain .header {
    font-size: 50px;
    top: 20%;
    left: 50%;
/*     transform: translate(-50%, -80%); */
    text-orientation: upright;
  }
}

@media screen and (min-width: 601px) {
  .NavMain .header {
    font-size: 80px;
    top: 30%;
    left: 50%;

  }
}

@media screen and (max-width: 400px) {
  .NavMain .header {
    font-size: 30px;
    top: 15%;
    left: 50%;
/*     transform: translate(-50%, -80%); */
    text-orientation: upright;
  }
}

img#header{


  width: calc(40vh);
  height: auto;
  overflow-x: hidden !important;
  position: relative;
  min-width: 100%;
}

img#logo{
  position: absolute;
  left: 1px;
  top: 6px;
  width: 40px;
  height: 40px;
}



.NavMain .nav-list {
  text-align: center;
  position: absolute;
  top: -8px;
  right: 12px;
  list-style-type: none;
  text-decoration: none;
}
/*   margin-left: auto;
  display: flex;
 */

/*  margin-left: auto;
  display: flex; */


.NavMain .nav-list a{
text-decoration: none;
color: white;
list-style-type: none;
font-size: 12px;
float: right;
padding: 3px;
margin: 2px;
display: block;
background-color: rgba(4, 4, 4, 0.694); 
border-style: solid;
border-width: 1px;
border-radius: 8px;
}

.NavMain .nav-list a:hover{
  background-color: rgba(245, 239, 239, 0.694); 
  color: black;
  
  }

.NavMain{
  
}

/* .NavMain .nav-list li:not(:last-child) {
  margin-right: 20px;
}  * */


/* 

.NavMain {
  background-color: #fefefe;
  color: rgb(6, 6, 6);
  display: flex;
  align-items: center;
  padding: 20px;
  height: 70px;
}

.NavMain .nav-list {
  margin-left: auto;
  display: flex;
}

.NavMain .nav-list li:not(:last-child) {
  margin-right: 20px;
} 

*/
